.features {
  text-align: left;
  text-transform: uppercase;
  outline: 1px solid black;

  &__wrapper {
    @include container;
    padding: 20px 0;
    background-color: #fff;
  }

  &__item {
    padding: 15px 20px 13px 70px;
  }

  &__title {
    position: relative;
    margin: 0 0 14px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
  
  &__title:before {
    position: absolute;
    content: "";
    top: 0;
    left: -50px;
    width: 42px;
    height: 48px;
    background-color: $light-blue;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}

@media ($tablet-widths) {
  .features {

    &__wrapper {
      @include container;
      padding: 60px 0;
      display: flex;
      flex-direction: row;
      background-color: #fff;
    }

    &__item {
      padding: 0 45px;
      flex-basis: 100%;
      text-align: center;
      outline: 1px solid black;
    }

    &__title {
      position: relative;
      margin: 0 0 14px;
      padding-top: 98px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }

    &__title:before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      margin-left: -39px;
      width: 77px;
      height: 75px;
      background-color: $light-blue;
    }

    &__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
    }
  }  
}

@media ($desktop-widths) {
  .features {

    &__wrapper {
      @include container;
      padding: 60px 0 83px;
      display: flex;
      flex-direction: row;
      background-color: #fff;
    }

    &__item {
      padding: 0 65px;
      flex-basis: 100%;
      text-align: center;
      outline: 1px solid black;
    }

    &__title {
      position: relative;
      margin: 0 0 14px;
      padding-top: 98px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }

    &__title:before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      margin-left: -39px;
      width: 77px;
      height: 75px;
      background-color: $light-blue;
    }

    &__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
    }
  }  
}