.hotel-search {
  text-align: center;
  outline: 1px solid black;

  &__wrapper {
    @include container
    outline: 1px solid black;
  }

  &__title {
    outline: 1px solid black;
  }

  &__text {
    outline: 1px solid black;
  }

  & button {
    outline: 1px solid black;
  }
}
