.main-intro {
  outline: 1px solid black;

  &__image {
    width: 320px;
    height: 389px;
    background-color: #e1eff8;
    outline: 1px solid black;
  }

  &__title {
    outline: 1px solid black;
  }

  &__description {
    outline: 1px solid black;
  }
}
