.main-nav {

  &__wrapper {
    @include container;
    position: relative;
  }

  &__items {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    margin: 0;
  }

  &__item {
    text-align: center;
    background-color: $light-blue;
  }

  &__link {
    display: block;
    padding: 7px 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
  }
  
   &__item:first-child &__link {
    border-top: none;
  }
  
  &__item:last-child &__link {
    border-bottom: none;
    box-shadow: inset 0 -7px 7px -3px rgba(0,0,0,0.2);
  }
    
  &__btn {
    font-size: 0;
    background: none;
    border: none;
  }

  &__btn--close {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 23px;
  }

  &__btn--close::before {
    position: absolute;
    content: "";
    top: 0;
    right: -1px;
    width: 25px;
    height: 5px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  &__btn--close::after {
    position: absolute;
    content: "";
    top: 0;
    right: -1px;
    width: 25px;
    height: 5px;
    background-color: #fff;
    transform: rotate(-45deg);
  }

  &__toggle {
    font-size: 0;
    background: none;
    border: none;
  }

  &__toggle--closed {
    position: absolute;
    bottom: -38px;
    right: 20px;
    width: 23px;
    height: 21px;
    background-color: $light-blue;
  }
}

@media ($tablet-widths) {
  .main-nav {

    &__wrapper {
      @include container;
      @include clearfix;
    }

    &__items {
      list-style-type: none;
      padding: 0;
      font-size: 0;
      margin: 0;
    }

    &__item {
      float: left;
      width: 20%;
      text-align: center;
      background-color: #fff;
    }
    
    &__item:nth-child(2) {
      margin-right: 20%;
    }

    &__link {
      display: block;
      padding: 15px 0;
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: none;
      border: none;
    }
    
    &__item:first-child &__link {
      border: none;
    }

    &__item:last-child &__link {
      border: none;
      box-shadow: none;
    }

    &__btn {
      display: none;
      font-size: 0;
      background: none;
      border: none;
    }

    &__toggle {
      display: none;
    }
  } 
}

@media ($desktop-widths) {
  
}