.photo-content {
  outline: 1px solid black;

  &__wrapper {
    outline: 1px solid black;
  }

  &__item {
    outline: 1px solid black;
  }

  &__title {
    outline: 1px solid black;
  }

  &__author {
    outline: 1px solid black;
  }

  &__like {
    outline: 1px solid black;
  }
}
