.reason-block {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: $light-blue;
  outline: 1px solid black;

  &__wrapper {
  }

  &__information {
    padding: 20px 20px;
  }

  &__title {
    margin: 0 0 9px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  & br {
    display: none;
  }  
  
  &__information span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  
  &__information span:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-right: 6px;
    width: 9px;
    height: 2px;
    background-color: #fff;
  }
  
  &__information span:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-left: 6px;
    width: 9px;
    height: 2px;
    background-color: #fff;
  }

  &__text {
    margin: 0 12px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  
  & img {
    display: block;
    width: auto;
    height: 260px;
    color: #000;
    background-color: #c5cab6;
  }
}

.reason-block--reasons {
  color: #000;
  background-color: #fff;
}

.reason-block--reasons span:before,
.reason-block--reasons span:after {
  background-color: #000;
}

@media ($tablet-widths) {
  .reason-block {

    &__wrapper {
      display: flex;
      flex-direction: row;
      outline: 1px solid black;
    }
    
    &__information {
      flex-basis: 160px;
      padding: 44px 48px;
      outline: 1px solid black;
    }

    &__title {
      margin: 0 0 11px;
      font-size: 18px;
      line-height: 26px;
      outline: 1px solid red;
    }
    
    & br {
      display: inline;
    } 

    &__information span {
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 21px;
    }

    &__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      
      outline: 1px solid red;
    }

    & img {
      flex-grow: 1;
      height: 256px;
    }
  }
  
  .reason-block--reasons .reason-block__information:first-child {
    hyphens: auto;
  }
}

@media ($desktop-widths) {
  .reason-block {

    &__wrapper {
      display: flex;
      flex-direction: row;
      outline: 1px solid red;
    }

    &__information {
      flex-basis: 400px;
      padding: 50px 0 60px;
    }

    &__title {
      margin: 0 0 11px;
      font-size: 18px;
      line-height: 26px;
    }

    &__information span {
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 21px;
    }

    &__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
    }
    
    & img {
      flex-grow: 1;
      height: 256px;
    }
  }
}
