.reasons {
  outline: 1px solid black;

  &__wrapper {
    width: 320px;
    margin: 0 auto;
    outline: 1px solid black;
  }

  &__item {
    outline: 1px solid black;
  }

  &__title {
    outline: 1px solid black;
  }

  &__item span {
    outline: 1px solid black;
  }

  &__text {
    outline: 1px solid black;
  }
}
