.review {
  background-color: #fff;
  outline: 1px dotted #59ff86;

  &__item {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
  }

  &__wrapper {
    @include container;
  }

  &__title {
    margin: 0 0 21px;
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__group {   
    padding: 0 20px;
    outline: 1px dotted red;
  }

  & label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
  }

  & input {
    padding: 16px 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
  }
  
  & input[type="checkbox"],
  & input[type="radio"] {
    display: none;
  }

  &__item--personal {
    padding-bottom: 25px;
  }

  &__item--personal &__group {
    margin-bottom: 20px;
  }

  &__item--personal &__group:last-child {
    margin-bottom: 0;
  }

  &__item--personal label {
    margin-right: 20px;
  }

  &__item--contacts {
    padding: 18px 0 28px;
  }
  
  &__item--contacts label {
    margin-left: 20px;
    margin-bottom: 13px;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    position: relative;
    padding: 15px 0 15px 80px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: #000;
  }
  
  &__item--impressions label,
  &__item--attractions label {
    margin-bottom: 10px;
  }
  
  &__item--impressions label:last-child,
  &__item--attractions label:last-child {
    margin-bottom: 0;
  }
  
  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 17px solid #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;    
  }
  
  input[type="radio"] + label::before {
    border-radius: 50%; 
  }
  
  input[type="checkbox"] + label::before {
    border-radius: 5px;  
  }
  
  input[type="radio"]:checked + label::before,
  input[type="checkbox"]:checked + label::before {
    background-color: #333333;    
  }

  &__item--emotions textarea {
    border: none;
    resize: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    min-height: 120px;
    padding: 20px;
    margin-bottom: 51px;
    background-color: #f2f2f2;
  }
  
  &__btn {
    width: 100%;
    padding: 16px 0;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $light-blue;
    border: none;
    outline: 1px solid black;
  }
}

@media ($mobile-widths-only) {
  .review {
    padding-bottom: 36px;

    &__item {
      padding: 18px 0 0;
      border-top: 1px solid #e5e5e5;
    }

    &__group {
      display: flex;
    }

    & input {    
      flex-grow: 1;
      min-width: 50px;
    }

    &__item--personal &__group {
      align-items: center;
    }

    &__item--personal label {
      flex-shrink: 0;
    }

    &__item--contacts &__group,
    &__item--impressions &__group,
    &__item--attractions &__group {
      flex-direction: column;
    }

    &__item--contacts input[type="text"],
    &__item--contacts input[type="email"] {
      flex-basis: 100%;
    }

    input[type="radio"] + label,
    input[type="checkbox"] + label {
      flex-grow: 1;
    }
    
    &__item--emotions textarea {
      flex-grow: 1;
    }
  }
}

@media ($tablet-widths) {
  .review {
    display: flex;
    flex-wrap: wrap;
//    justify-content: center;
//    align-items: center;

    &__item {
      
    }

    &__item--impressions {
      order: -1;
      flex-basis: 50%;
      flex-grow: 1;
    }

    &__item--personal {
      flex-basis: 50%;
      flex-grow: 1;
    }
  
    &__item--contacts {
      flex-basis: 100%;
//      flex-grow: 1;
    }
    
    &__item--attractions {
      flex-basis: 100%;
//      flex-grow: 1;
    }
    
    &__wrapper {
      margin: 0;
      width: 100%;
    }
 
    &__group {
      display: block;
    }
  }
}
