.btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px 0;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $light-blue;
  border: none;
}