.features {
  text-transform: uppercase;
  background-color: #fff;

  &__item {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__item--house:before {
    background-image: url("../img/icons/icon-house.svg");
  }

  &__item--gift:before {
    background-image: url("../img/icons/icon-gift.svg");
  }

  &__item--food:before {
    background-image: url("../img/icons/icon-burger.svg");
  }

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}

@media ($mobile-widths-only) {
  .features {
    text-align: left;

    &__wrapper {
      padding: 20px 20px;
    }

    &__item {
      padding: 15px 0 13px 50px;
    }

    &__item--house:before {
      top: 6px;
      left: 2px;
      width: 37px;
      height: 36px;
    }

    &__item--gift:before {
      top: 4px;
      left: 5px;
      width: 32px;
      height: 38px;
    }

    &__item--food:before {
      top: 11px;
      left: -1px;
      width: 38px;
      height: 35px;
    }

    &__title {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }
  }
}

@media ($tablet-widths) {
  .features {

    &__wrapper {
      padding: 57px 0 61px;
      display: flex;
      flex-direction: row;
      background-color: #fff;
    }

    &__item {
      max-width: 170px;
      margin: 0 auto;
//      padding: 0 47px;
      flex-basis: 100%;
      text-align: center;

      &:before {
        left: 50%;
      }
    }

    &__item--house {
      order: -1;
    }

    &__item--house:before {
      top: 3px;
      margin-left: -37px;
      width: 75px;
      height: 72px;
    }

    &__item--gift {
      order: 1;
    }

    &__item--gift:before {
      top: 0;
      margin-left: -32px;
      width: 64px;
      height: 76px;
    }

    &__item--food {
      order: 0;
    }

    &__item--food:before {
      top: 6px;
      margin-left: -38px;
      width: 77px;
      height: 70px;
    }

    &__title {
      padding-top: 102px;
      margin-bottom: 21px;
    }
  }
}

@media ($desktop-widths) {
  .features {

    &__wrapper {
      padding: 57px 0 82px;
    }

    &__item {
      max-width: 293px;
    }
  }
}
