.features {
  text-transform: uppercase;
  background-color: #fff;

  &__title {
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__title:before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__item--house &__title:before {
    background-image: url("../../img/icon-house.svg");
  }

  &__item--gift &__title:before {
    background-image: url("../../img/icon-gift.svg");
  }

  &__item--food &__title:before {
    background-image: url("../../img/icon-burger.svg");
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}

@media ($mobile-widths-only) {
  .features {
    text-align: left;

    &__wrapper {
      padding: 20px 20px;
    }

    &__item {
      padding: 15px 0 13px 50px;
    }

    &__title {
      position: relative;
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
    }

    &__item--house &__title:before {
      bottom: -1px;
      left: -48px;
      width: 37px;
      height: 36px;
    }

    &__item--gift &__title:before {
      bottom: -1px;
      left: -45px;
      width: 32px;
      height: 38px;
    }

    &__item--food &__title:before {
      bottom: -4px;
      left: -52px;
      width: 38px;
      height: 35px;
    }
  }
}

@media ($tablet-widths) {
  .features {

    &__wrapper {
      padding: 57px 0 61px;
      display: flex;
      flex-direction: row;
      background-color: #fff;
    }

    &__item {
      padding: 0 47px;
      flex-basis: 100%;
      text-align: center;
    }

    &__title {
      padding-top: 102px;
      margin-bottom: 21px;
    }

    &__title:before {
      left: 50%;
    }

    &__item--house &__title:before {
      top: 3px;
      margin-left: -37px;
      width: 75px;
      height: 72px;
    }

    &__item--gift &__title:before {
      top: 0;
      margin-left: -32px;
      width: 64px;
      height: 76px;
    }

    &__item--food &__title:before {
      top: 6px;
      margin-left: -38px;
      width: 77px;
      height: 70px;
    }
  }
}

@media ($desktop-widths) {
  .features {

    &__wrapper {
      padding: 57px 0 82px;
    }

    &__item {
      padding: 0 65px;
    }
  }
}
