.hotel-search {
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;

  &__title {
    line-height: 26px;
    font-weight: bold;
    margin: 0;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

@media ($mobile-widths-only) {
  .hotel-search {
    max-width: 280px;

    &__wrapper {
      padding: 27px 0 49px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 21px;
    }

    &__text {
      margin-bottom: 35px;
    }

    &__br {
      display: none;
    }
  }
}

@media ($tablet-widths) {
  .hotel-search {
    max-width: 458px;

    &__wrapper {
      padding: 56px 0 58px;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 30px;
    }

    &__text {
      margin-bottom: 42px;
    }
  }
}

@media ($desktop-widths) {
  .hotel-search {

    &__wrapper {
      padding: 56px 0 66px;
    }

    &__text {
      margin-bottom: 47px;
    }
  }
}
