.main-header {

  &__top-menu {
    position: relative;
    background-color: #fff;
  }
}

@media ($mobile-widths-only) {
  .main-header {

    &__logo {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 102px;
      height: 56px;
    }
    
    &__logo img {
      position: absolute;
      z-index: 100;
    }
  }
}

@media ($tablet-widths) {
  .main-header {

    &__logo {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      margin-left: -51px;
      width: 102px;
      height: 56px;
    }
  }
}

@media ($desktop-widths) {
  .main-header {

    &__logo {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      margin-left: -51px;
      width: 102px;
      height: 56px;
    }
  }
}