.main-intro {
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;

  &__image {
    width: 320px;
    height: 389px;
    background-color: #e1eff8;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    margin: 0;
  }
}

@media ($mobile-widths-only) {
  .main-intro {
    
    &__title {      
      padding: 38px 20px 25px;
    }
    
    &__description {
      padding: 0 20px 28px;
    }
  }
}

@media ($tablet-widths) {
  .main-intro {

    &__image {
      width: 100%;
      height: 290px;
    }

    &__title {      
      padding: 74px 163px 31px;
    }
    
    &__description {
      padding: 0 163px 69px;
    }
  } 
}

@media ($desktop-widths) {
  .main-intro {
    
    &__image {
      height: 301px;
    }

    &__title {      
      padding: 113px 378px 30px;
    }
    
    &__description {
      padding: 0 378px 71px;
    }
  } 
}