.main-footer {
  text-transform: uppercase;
  background-color: #fefefe;

  &__vizit-sedona {
    display: block;
    color: #000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
  }

  &__developers {
    font-size: 14px;
    line-height: 26px;
  }

  &__developers-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    width: 27px;
    height: 34px;
    font-size: 0;

    & .main-footer__developers-icon {
      fill: #000;
    }

    &:hover .main-footer__developers-icon {
      fill: $light-blue;
    }

    &:active .main-footer__developers-icon {
      fill: rgba(0,0,0,0.3);
    }
  }
}

@media ($mobile-widths-only) {
  .main-footer {

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 26px 0 23px;
    }

    &__vizit-sedona {
      margin-bottom: 36px;
    }
  }
}

@media ($tablet-widths) {
  .main-footer {

    &__wrapper {
      padding: 36px 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__vizit-sedona {
      flex-basis: 100%;
    }

    &__developers {
      flex-basis: 100%;
      text-align: right;
    }
  }
}

@media ($desktop-widths) {
  .main-footer {

    &__wrapper {
      padding: 36px 0;
    }

    &__developers {
      text-align: right;
    }

    &__developers-link {
      margin-right: 44px;
    }

    &__vizit-sedona {
      text-align: center;
    }
  }
}
