.page-intro {
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;

  &:before {
    display: block;
    content: "";
    width: 100%;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }
}

@media ($mobile-widths-only) {
  .page-intro {

    &:before {
      height: 158px;
      background: url("../img/logo/text-sedona.svg"),
                  url("../img/bg/bg-intro-triangle-mobile.svg"),
                  #e1eff8 url("../img/bg/bg-back-mobile.jpg");
      background-size: 229px auto,
                       105% auto,
                       auto;
      background-repeat: no-repeat;
      background-position: top 52px center,
                           bottom -1px center,
                           bottom center;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background: url("../img/logo/text-sedona.svg"),
                    url("../img/bg/bg-intro-triangle-mobile.svg"),
                    #e1eff8 url("../img/bg/bg-back-mobile@2x.jpg");
        background-size: 229px auto,
                         105% auto,
                         auto;
        background-repeat: no-repeat;
        background-position: top 52px center,
                             bottom -1px center,
                             bottom center;
      }
    }

    &__wrapper {
      max-width: 277px;
      margin: 37px auto 37px;
    }

    &__title {
      margin-bottom: 27px;
    }

    &--doubt:before {
      display: none;
    }

    &--doubt &__wrapper {
      margin: 32px auto 35px;
    }

    &--review &__wrapper {
      margin: 37px auto 17px;
    }
  }
}

@media ($tablet-widths) {
  .page-intro {

    &:before {
      height: 290px;
      background: url("../img/logo/text-sedona.svg"),
                  url("../img/bg/bg-intro-triangle-tablet.svg"),
                  #e1eff8 url("../img/bg/bg-back-desktop.jpg");
      background-size: 458px auto,
                       103% auto,
                       auto;
      background-repeat: no-repeat;
      background-position: top 95px center,
                           bottom -1px center,
                           bottom center;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background: url("../img/logo/text-sedona.svg"),
                    url("../img/bg/bg-intro-triangle-tablet.svg"),
                    #e1eff8 url("../img/bg/bg-back-desktop@2x.jpg");
        background-size: 458px auto,
                         103% auto,
                         auto;
        background-repeat: no-repeat;
        background-position: top 95px center,
                             bottom -1px center,
                             bottom center;
      }
    }

    &__wrapper {
      max-width: 442px;
      margin: 74px auto 69px;
    }

    &__title {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 31px;
    }

    &--doubt:before {
      display: none;
    }

    &--doubt &__wrapper {
      margin: 66px auto 73px;
    }
  }
}

@media ($desktop-widths) {
  .page-intro {

    &:before {
      height: 301px;
      background: url("../img/logo/text-sedona.svg"),
                  url("../img/bg/bg-intro-triangle-desktop.svg"),
                  #e1eff8 url("../img/bg/bg-back-desktop.jpg");
      background-size: 460px auto,
                       103% auto,
                       auto;
      background-repeat: no-repeat;
      background-position: top 102px center,
                           bottom -1px center,
                           bottom center;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background: url("../img/logo/text-sedona.svg"),
                    url("../img/bg/bg-intro-triangle-desktop.svg"),
                    #e1eff8 url("../img/bg/bg-back-desktop@2x.jpg");
        background-size: 460px auto,
                         103% auto,
                         auto;
        background-repeat: no-repeat;
        background-position: top 102px center,
                             bottom -1px center,
                             bottom center;
      }
    }

    &__wrapper {
      margin: 111px auto 58px;
    }

    &__title {
      margin-bottom: 31px;
    }

    &--doubt &__wrapper {
      margin: 70px auto 71px;
    }

    &--photo &__wrapper {
      margin: 111px auto 72px;
    }
  }
}
