.page-intro {
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;

  &:before {
    display: block;
    content: "";
    height: 158px;
    width: 100%;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }
}

@media ($mobile-widths-only) {
  .page-intro {

    &:before {
      background: url("../img/logo/text-sedona.svg") no-repeat 50%,
                  url("../img/bg/bg-intro-triangle-mobile.svg") no-repeat bottom,
                  #e1eff8 url("../img/bg/bg-back-mobile.jpg") no-repeat center bottom;
      background-size: 280px auto,
                       103% auto,
                       auto;
    }

    &__wrapper {
      max-width: 277px;
      margin: 37px auto 37px;
    }

    &__title {
      margin-bottom: 27px;
    }

    &--doubt:before {
      display: none;
    }

    &--doubt &__wrapper {
      margin: 32px auto 35px;
    }
  }
}

@media ($tablet-widths) {
  .page-intro {

    &:before {
      display: block;
      content: "";
      height: 290px;
      width: 100%;
      background: url("../img/logo/text-sedona.svg") no-repeat 50%,
                  url("../img/bg/bg-intro-triangle-tablet.svg") no-repeat bottom,
                  #e1eff8 url("../img/bg/bg-back-desktop.jpg") no-repeat center bottom;
      background-size: 458px auto,
                       103% auto,
                       auto;
    }

    &__wrapper {
      max-width: 442px;
      margin: 74px auto 69px;
    }

    &__title {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 31px;
    }

    &--doubt:before {
      display: none;
    }

    &--doubt &__wrapper {
      margin: 66px auto 73px;
    }
  }
}

@media ($desktop-widths) {
  .page-intro {

    &:before {
      height: 301px;
      background: url("../img/logo/text-sedona.svg") no-repeat 50%,
                  url("../img/bg/bg-intro-triangle-desktop.svg") no-repeat bottom,
                  #e1eff8 url("../img/bg/bg-back-desktop.jpg") no-repeat center bottom;
      background-size: 460px auto,
                       103% auto,
                       auto;
    }

    &__wrapper {
      margin: 111px auto 58px;
    }

    &__title {
      margin-bottom: 31px;
    }

    &--doubt &__wrapper {
      margin: 70px auto 71px;
    }
  }
}
