.pop-up-failure {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0,1,1,0.15);
  text-align: center;
  text-transform: uppercase;
  z-index: 101;

  &__title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }

  &__btn {
    padding: 16px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: $light-blue;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}

@media ($mobile-widths-only) {
  .pop-up-failure {
    width: 320px;
    margin-left: -160px;

    &__wrapper {
      padding: 40px 56px 35px;
    }

    &__title {
      margin-bottom: 26px;
      font-size: 18px;
      line-height: 26px;
    }

    &__text {
      margin-bottom: 23px;
    }

    &__btn {
      width: 180px;
    }
  }
}

@media ($tablet-widths) {
  .pop-up-failure {
    width: 400px;
    margin-left: -200px;

    &__wrapper {
      padding: 56px 50px 49px;
    }

    &__title {
      margin: 0 40px 23px;
      font-size: 30px;
      line-height: 40px;
    }

    &__text {
      margin-bottom: 33px;
    }

    &__btn {
      width: 272px;
    }
  }
}
