.pop-up-success {
  display: none;
  position: fixed;
  top: 450px;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0,1,1,0.15);
  text-align: center;
  text-transform: uppercase;
  z-index: 101;

  &__title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }

  &__btn {
    width: 100%;
    padding: 16px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: $light-blue;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 20px solid ;
    border-color: #f2f2f2;
    border-style: solid;
  }
}

@media ($mobile-widths-only) {
  .pop-up-success {
    width: 320px;
    margin-left: -160px;

    &__wrapper {
      padding: 43px 50px 34px;
    }

    &__title {
      margin-bottom: 26px;
      font-size: 18px;
      line-height: 26px;
    }

    &__btn {
      border-width: 20px;
    }
  }
}

@media ($tablet-widths) {
  .pop-up-success {
    width: 640px;
    margin-left: -320px;

    &__wrapper {
      padding: 62px 111px 34px;
    }

    &__title {
      margin-bottom: 31px;
      font-size: 30px;
      line-height: 26px;
    }

    &__btn {
      border-top-width: 44px;
      border-right-width: 91px;
      border-bottom-width: 44px;
      border-left-width: 91px;
    }
  }
}
