.reason-block {
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  &__item {       
    background-color: $light-blue;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
  
  &__item span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  
  &__item span:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-right: 6px;
    width: 9px;
    height: 2px;
    background-color: #fff;
  }
  
  &__item span:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-left: 6px;
    width: 9px;
    height: 2px;
    background-color: #fff;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  
  & img {
    display: block;
    width: auto;
    height: 260px;
    color: #000;
    background-color: #c5cab6;
  }
}

.reason-block--reasons .reason-block__item {
  color: #000;
  background-color: #eeeeee;
}

.reason-block--reasons span:before,
.reason-block--reasons span:after {
  background-color: #000;
}

@media ($mobile-widths-only) {
  .reason-block {
    
    &__item {       
      background-color: $light-blue;
    }

    &__wrapper {
      padding: 40px 0 40px;
      margin: 0 20px;
    }

    &__title {
      margin: 0 0 9px;
    }

    & br {
      display: none;
    }  

    &__item span {
      margin-bottom: 15px;
    }
  }
  
  .reason-block--reasons .reason-block__wrapper {
    border-bottom: 1px solid #d6d6d6;
    padding: 27px 0 27px;
  }
    
  .reason-block--reasons .reason-block__item:last-child .reason-block__wrapper {
    border: none;
  } 
}

@media ($tablet-widths) {
  .reason-block {
    display: flex;
    flex-direction: row;

    &__item {
      flex-basis: 256px;
    }
    
    &__wrapper {
      padding: 45px 0 44px;
      margin: 0 45px;
    }
    
    &__title {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 26px;
    }
    
    & br {
      display: inline;
    } 

    &__item span {
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 21px;
    }

    &__text {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
    }

    & img {
      flex-grow: 1;
      height: 256px;
    }
  }
  
  .reason-block--reasons .reason-block__item:first-child {
    hyphens: auto;
  }
  
  .reason-block--reasons .reason-block__wrapper {
    border:none;
  }
}

@media ($desktop-widths) {
  .reason-block {

    &__item {
      flex-basis: 400px;
    }

    &__wrapper {      
      padding: 53px 0 57px;
      margin: 0 70px;
    }
  }
  
  .reason-block--reasons .reason-block__wrapper {
    padding: 45px 0 65px;
    margin: 0 70px;
  }
}
