.review {
  background-color: #fff;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 0;
  }

  &__label {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
  }

  & input[type="checkbox"],
  & input[type="radio"] {
    display: none;
  }

  &__field {
    min-width: 50px;
    min-height: 26px;
    padding: 16px 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 4px #e5e5e5;
    }
  }

  &__item--impressions &__label,
  &__item--attractions &__label {
    position: relative;
    padding: 15px 0 15px 80px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: #000;
  }

  &__item--impressions &__label:last-child,
  &__item--attractions &__label:last-child {
    margin-bottom: 0;
  }

  &__item--impressions &__label:before,
  &__item--attractions &__label:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
  }

  &__item--impressions &__label:before{
    width: 22px;
    height: 22px;
    border: 17px solid #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &__item--impressions &__field + &__label:hover:before {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }

  &__item--impressions &__field + &__label:active:before {
    border-color: #d5d5d5;
    background-color: #d5d5d5;
  }

  &__item--impressions &__field:checked + &__label:before {
    background-color: #333333;
  }

  &__item--impressions &__field:checked + &__label:hover:before {
    border-color: #e5e5e5;
  }

  &__item--impressions &__field:checked + &__label:active:before {
    background-color: rgba(51,51,51,0.3);
    border-color: #d5d5d5;
  }

  &__item--attractions &__label:before {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &__item--attractions &__field + &__label:hover:before {
    background-color: #e5e5e5;
  }

  &__item--attractions &__field + &__label:active:before {
    background-color: #d5d5d5;
  }

  &__item--attractions &__field:checked + &__label:before {
    background: #f2f2f2 url("../img/icons/icon-tick.svg") no-repeat 50%;
  }

  &__item--attractions &__field:checked + &__label:hover:before {
    background-color: #e5e5e5;
  }

  &__item--attractions &__field:checked + &__label:active:before {
    background: #d5d5d5 url("../img/icons/icon-tick-active.svg") no-repeat 50%;
  }

  &__item--personal &__label {
    margin-right: 20px;
  }

  &__item--personal &__group {
    margin-bottom: 20px;
  }

  &__item--personal &__group:last-child {
    margin-bottom: 0;
  }

  &__item--contacts &__field {
    margin-right: 58px;
    flex-grow: 1;
  }

  &__phone,
  &__email {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  &__phone:after,
  &__email:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__phone:after {
    background-image: url("../img/icons/icon-phone.svg");
  }

  &__email:after {
    background-image: url("../img/icons/icon-mail.svg");
  }

  &__item--emotions textarea {
    border: none;
    resize: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    min-height: 120px;
    padding: 20px;
    background-color: #f2f2f2;
  }

  &__required-fields {
    display: none;
    width: 50%;
    padding: 16px 0;
    margin: 0;
    color: #000;
    text-transform: uppercase;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }

  &__phone-error {
    position: absolute;
    font-size: 14px;
    line-height: 26px;
    color: #ff5c5c;

    &--hidden {
      display: none;
    }
  }
}

@media ($mobile-widths-only) {
  .review {
    padding-bottom: 36px;

    &__wrapper {
      @include container;
    }

    &__title {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      padding-top: 18px;
      margin-bottom: 20px;
    }

    &__group {
      display: flex;
      margin: 0 20px;
    }

    &__item--personal {
      padding-bottom: 25px;
    }

    &__item--personal &__group {
      align-items: center;
    }

    &__item--personal &__title span:first-child {
      display: none;
    }

    &__item--personal &__title span {
      display: inline-block;
      vertical-align: baseline;
    }

    &__item--contacts &__group,
    &__item--impressions &__group,
    &__item--attractions &__group {
      flex-direction: column;
    }

    &__item--impressions &__label,
    &__item--attractions &__label {
      flex-grow: 1;
    }

    &__item--impressions {
      margin-bottom: 27px;
    }

    &__item--attractions {
      margin-bottom: 25px;
    }

    &__item--attractions &__label {
      margin-bottom: 24px;
    }

    &__item--impressions &__label {
      margin-bottom: 13px;
    }

    &__item--emotions textarea {
      flex-grow: 1;
    }

    &__item--emotions {
      margin-bottom: 51px;
    }

    &__item--contacts {
      margin-bottom: 28px;
    }

    &__item--contacts &__group:first-child {
      margin-bottom: 42px;
    }

    &__item--contacts &__label {
      margin-left: 20px;
      margin-bottom: 7px;
    }

    &__btn {
      max-width: 280px;
      margin: 0 auto;
    }

    &__phone,
    &__email {
      position: relative;
      flex-grow: 1;
    }

    &__phone-error {
      left: 20px;
      bottom: -33px;
    }
  }
}

@media ($tablet-widths) {
  .review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 60px;

    &__item {
      display: flex;
      flex-basis: 100%;
    }

    &__title {
      position: relative;
    }

    &__item--impressions {
      order: -1;
      flex-basis: 50%;
    }

    &__item--impressions &__label {
      margin-bottom: 20px;
    }

    &__item--personal {
      position: relative;
      flex-basis: 50%;
    }

    &__item--personal:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
    }

    &__item--contacts {
      margin-top: 69px;
      margin-bottom: 52px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    &__item--impressions &__title,
    &__item--personal &__title {
      text-align: left;
    }

    &__item--impressions &__title,
    &__item--personal &__title,
    &__item--emotions &__title {
      margin-bottom: 58px;
    }

    &__item--contacts &__label {
      margin-bottom: 7px;
      margin-left: 20px;
    }

    &__item--contacts &__group {
      margin-top: 24px;
    }

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__item--personal &__group {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    &__item--personal &__wrapper {
      padding-left: 60px;
    }

    &__item--personal &__field {
      width: 60px;
      flex-grow: 1;
    }

    &__item--personal &__label {
      flex-shrink: 0;
    }

    &__item--personal &__title {
      margin-left: 60px;
    }

    &__item--personal &__title span:first-child {
      display: inline;
    }

    &__item--personal &__title span {
      display: none;
    }

    &__item--attractions  {
      margin-bottom: 68px;
    }

    &__item--attractions &__title {
      margin-bottom: 43px;
    }

    &__item--attractions &__group {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item--attractions &__wrapper {
      margin: 0 95px;
    }

    &__item--attractions &__label {
      margin-bottom: 32px;
      flex-basis: 125px;
    }

    &__item--attractions &__label:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

    &__item--attractions &__label[for="slide-park"] {
      order: 2;
    }

    &__item--attractions &__label[for="devils-bridge"] {
      order: -1;
    }

    &__item--attractions &__label[for="bell-mountain"] {
      order: 1;
    }

    &__item--attractions &__label[for="red-rocks"] {
      order: 3;
    }

    &__item--emotions {
      margin-bottom: 58px;
    }

    &__item--contacts &__title,
    &__item--attractions &__title,
    &__item--emotions &__title {
      width: 298px;
      padding: 0 175px;
    }

    &__item--contacts &__title:before,
    &__item--attractions &__title:before,
    &__item--emotions &__title:before {
      position: absolute;
      display: block;
      content: "";
      width: 125px;
      height: 1px;
      left: 0;
      top: 50%;
      background: #dbdbdb;
    }

    &__item--contacts &__title:after,
    &__item--attractions &__title:after,
    &__item--emotions &__title:after {
      position: absolute;
      display: block;
      content: "";
      width: 125px;
      height: 1px;
      right: 0;
      top: 50%;
      background: #dbdbdb;
    }

    &__btn {
      width: 50%;
      margin-bottom: 61px;
    }

    &__required-fields {
      display: block;
    }

    &__phone-error {
      right: 0;
      top: -33px;
    }
  }
}

@media ($desktop-widths) {
  .review {
    padding: 0 120px;

    &__item--impressions &__title,
    &__item--personal &__title {
      text-align: left;
      margin-left: 80px;
    }

    &__item--personal &__wrapper {
      padding-left: 80px;
    }

    &__item--attractions {
      margin-bottom: 65px;
    }

    &__item--attractions &__group {
      justify-content: space-between;
    }

    &__item--attractions &__wrapper {
      margin: 0;
    }

    &__item--attractions &__label {
      flex-grow: 130px;
      margin-bottom: 0;
    }

    &__item--personal &__title span:first-child {
      display: none;
    }

    &__item--personal &__title span {
      display: inline;
    }

    &__item--contacts {
      margin-top: 67px;
      margin-bottom: 52px;
    }

    &__item--contacts &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item--contacts &__title {
      margin-bottom: 75px;
    }

    &__item--contacts &__group {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-basis: 50%;
      margin: 0;
    }

    &__item--contacts &__group:first-of-type {
      flex-basis: 0;
      padding-right: 80px;
      flex-grow: 1;
    }

    &__item--contacts &__label {
      margin: 0 20px 0 0;
    }

    &__item--contacts &__field {
      background-position: 271px 50%,
                           right;
    }

    &__item--contacts span {
      display: none;
    }

    &__item--contacts &__title,
    &__item--attractions &__title,
    &__item--emotions &__title {
      padding: 0 330px;
      width: 300px;
    }

    &__item--contacts &__title:before,
    &__item--attractions &__title:before,
    &__item--emotions &__title:before {
      width: 280px;
    }

    &__item--contacts &__title:after,
    &__item--attractions &__title:after,
    &__item--emotions &__title:after {
      width: 280px;
    }

    &__btn {
      margin-bottom: 66px;
    }

    &__phone-error {
      left: 20px;
      top: -33px;
    }
  }
}
