.video-content {
  background-color: #fff;

  &__item {
    background-color: #fff;

    & video {
      width: 100%;
      display: block;
      font-size: 0;
      margin: 0;
      padding: 0;
      background-color: antiquewhite;
    }
  }

  &__range-controls {
    padding: 22px 0 20px;
    background-color: rgba(0,0,0,0.6);
  }

  &__scale {
    position: relative;
    height: 3px;
    background-color: rgba(255,255,255,0.2);
  }

  &__bar {
    width: 50%;
    height: 3px;
    background-color: #fff;
  }

  &__toggle {
    position: absolute;
    margin-left: -4px;
    top: -3px;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
  }

  &__btn {
    height: 20px;
    border: none;
    font-size: 0;
    padding: 0;
    background: none;

    &--replay {
      width: 16px;
    }

    &--subtitles {
      width: 32px;
      border-radius: 3px;
    }

    &--full-screen {
      width: 20px;
    }

    &:hover &-icon {
      fill: #333333;
    }

    &:active &-icon {
      fill: rgba(51,51,51,0.3);
    }
  }
}

@media ($mobile-widths-only) {
  .video-content {
    margin-bottom: 49px;

    & video {
      height: 201px;
      background: url("../img/video/video-mobile.jpg") no-repeat;
    }

    &__controls-bar {
      margin-top: 0;
    }

    &__wrapper {
      position: relative;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 20px;
      padding: 23px 0;
    }

    &__range-controls {
      position: absolute;
      width: 100%;
      top: -45px;
      padding-bottom: 20px;
    }

    &__scale {
      margin: 0 22px;
    }

    &__btn {

      &--replay {
        margin: 0 auto 0 22px;
      }

      &--subtitles {
        margin: 0 31px 0 0;
      }

      &--full-screen {
        margin: 0 22px 0 0;
      }
    }

    &__btn-icon {
      fill: #5c6870;
    }
  }
}

@media ($tablet-widths) {
  .video-content {
    margin: 0 60px 41px;

    &__item {
      position: relative;
    }

    & video {
      height: 499px;
      background: url("../img/video/video-tablet.jpg") no-repeat;
    }

    &__controls-bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0;
    }

    &__wrapper {
      background-color: rgba(0,0,0,0.6);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 23px 41px 23px 35px;
      margin: 0;
    }

    &__range-controls {
      flex-grow: 1;
      background: none;
    }

    &__scale {
      margin: 0 42px;
    }

    &__btn {

      &--replay {
        order: -1;
      }

      &--subtitles {
        margin-right: 31px;
      }
    }

    &__btn-icon {
      fill: #fff;
    }
  }
}

@media ($desktop-widths) {
  .video-content {
    margin: 0 200px 85px;

    & video {
      background: url("../img/video/video-desktop.jpg") no-repeat;
    }
  }
}
