.video-content {
  background-color: #fff;

  &__item {
    background-color: #fff;
  }

  &__item video {
    width: 100%;
    display: block;
    background-color: antiquewhite;
  }

  &__range-controls {
    padding: 22px 0 20px;
    background-color: rgba(0,0,0,0.6);
  }

  &__scale {    
    position: relative;
    height: 3px;
    background-color: rgba(255,255,255,0.2);
  }

  &__bar {
    width: 50%;
    height: 3px;
    background-color: #fff;
  }

  &__toggle {
    position: absolute;
    margin-left: -4px;
    top: -3px;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
  }

  &__replay {
    width: 16px;
    height: 20px;
    background-color: #5c6870;
  }

  &__cc {
    width: 32px;
    height: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #5c6870;
  }

  &__full-screen {
    width: 20px;
    height: 20px;
    background-color: #5c6870;
  }
}

@media ($mobile-widths-only) {
  .video-content {
    padding-bottom: 49px;
    
    & video {
      height: 201px;
      font-size: 0;
      margin: 0;
      padding: 0;
    }

    &__controls-bar {
      margin-top: -45px;
    }
    
    &__wrapper {
      background-color: #f2f2f2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 20px;
    }

    &__range-controls {
      flex-basis: 100%;
      padding-bottom: 20px;
    }

    &__scale {      
      margin: 0 22px;
    }
    
    &__replay {
      margin: 20px auto 20px 22px;
    }

    &__cc {
      line-height: 19px;
      margin: 20px 31px 20px 0;
    }

    &__full-screen {
      margin: 20px 22px 20px 0;
    }
  }
}

@media ($tablet-widths) {
  .video-content {
    padding: 0 60px 41px;

    & video {
      height: 499px;
    }

    &__controls-bar {
      width: 100%;
      bottom: 0;
      margin: 0;
    }
    
    &__wrapper {
      background-color: rgba(0,0,0,0.6);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 23px 41px 23px 35px;
      margin: 0;
    }
    
    &__range-controls {
      flex-grow: 1;
      background: none;
    }
    
    &__scale {
      margin: 0 42px;
    }

    &__replay {
      order: -1;
    }

    &__cc {
      line-height: 19px;
      margin-right: 31px;
    }
  }
}

@media ($desktop-widths) {
  .video-content {
    padding: 0 200px 85px;
  }
}
